<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>tourism app</title>
</head>
<body>
<div align="center">
    <h1>WELCOME TO TOURS AND TRAVELS</h1>
    <br/><br/>
    <h2>HOTELS</h2>
    <ol>
    	
	   <li><a href="/hotels">view hotels</a></li>
	   <br/><br/>
	   <li><a href="/newhotel">Add New Hotel</a></li>
	   
    </ol>
    
    
    <h2>PACKAGES</h2>
     <ol>
    	
	   <li><a href="/packages">view packages</a></li>
	   <br/><br/>
	   <li><a href="/newpackage">Add New packages</a></li>
    </ol>
    
    <h2>CUSTOMERS</h2>
     <ol>
	   <li><a href="/customers" >view customers</a></li>
	   <li><a href="/newcustomer" >add customer</a></li>
	 </ol>
	 
	 
</div>   
</body>
</html>
